@model ECommerceRemake.Models.SanPham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CauHinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CauHinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LuotXem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LuotXem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LuotBinhLuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LuotBinhLuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLanMua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLanMua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaXoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaXoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaSP">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
