@model IEnumerable<ECommerceRemake.Models.SanPham>

@{
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<form asp-controller="SanPhams" asp-action="Index" method="post">
    <p>
        Title: <input type="text" name="id" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.NgayCapNhat)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CauHinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTon)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.LuotXem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LuotBinhLuan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLanMua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaXoa)
            </th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CauHinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.LuotXem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuotBinhLuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLanMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaXoa)
            </td>*@
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.MaSP">Sửa</a> |*@
                <a asp-action="Details" asp-route-id="@item.MaSP" class="btn btn-sm btn-outline-info">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSP" class="btn btn-sm btn-outline-danger">Xóa</a>
            </td>
        </tr>
}       <tr><td colspan="6"><strong>Tổng số: @Model.Count()</strong></td></tr>
    </tbody>
</table>
